# Filtering with `AND` & `OR` Operators

### Import Pandas

In [1]:
# import pandas
import pandas as pd
from pathlib import Path
path = Path("C:/Users/alouden01/Documents/python-pandas-for-data-manipulation/starter_files/skill_09_filtering_broadcasting/employee.csv")

### Employee data

In [3]:
emp = pd.read_csv(path, parse_dates=["start_date"])
emp.head(20)

,first_name,last_name,salary,start_date,gender,remote,team
0,Haleigh,Calderhead,334473,2020-05-09,NaN,True,management
1,Coretta,McEvon,637457,2020-03-20,Male,False,engineering
2,Clarette,Tarbett,977749,2020-11-22,Agender,True,engineering
3,Jaime,Gianneschi,253523,2020-09-02,Bigender,False,marketing
4,Ediva,Skelton,325185,2020-02-04,Female,True,marketing
5,Auberta,Whistlecraft,510781,NaT,Polygender,False,engineering
6,Devland,Cominetti,194815,2021-01-16,Bigender,False,engineering
7,Sarah,Feather,553617,2020-04-05,NaN,True,data analytics
8,Andromache,McAviy,562931,2020-09-15,Non-binary,True,management
9,Susanna,Ivachyov,873134,2020-11-19,Agender,False,engineering
10,Gray,Ghirigori,972661,2020-05-29,NaN,False,marketing
11,Malissa,Billett,492837,2020-09-01,NaN,False,management
12,Dani,Withinshaw,152136,2020-11-08,Genderfluid,True,data analytics
13,Garik,Massingham,378504,2021-01-21,Genderfluid,True,management
14,Alfred,Paraman,234494,2021-01-19,Female,False,data analytics
15,Hardy,Ethridge,578084,2020-11-26,Agender,False,management
16,Wylma,Cowey,254555,2020-11-08,Bigender,False,marketing
17,Tiphani,Philip,531804,2020-08-08,Genderqueer,False,management
18,Free,Prangley,385983,2020-09-12,Genderfluid,True,engineering
19,Cointon,McRitchie,136751,2020-04-12,Male,True,marketing

### Head

In [8]:
# called the head method to see what were working with
eng_mask = emp['team'] == "engineering"
mark_mask = emp['team'] == "marketing"
data_mask = emp['team'] == "data analytics"
emp[eng_mask | mark_mask | data_mask]

,first_name,last_name,salary,start_date,gender,remote,team
1,Coretta,McEvon,637457,2020-03-20,Male,False,engineering
2,Clarette,Tarbett,977749,2020-11-22,Agender,True,engineering
3,Jaime,Gianneschi,253523,2020-09-02,Bigender,False,marketing
4,Ediva,Skelton,325185,2020-02-04,Female,True,marketing
5,Auberta,Whistlecraft,510781,NaT,Polygender,False,engineering
...,...,...,...,...,...,...,...
992,Roy,Axworthy,597997,2020-08-25,Female,False,marketing
993,Jenny,Ballentime,741738,2020-05-20,Bigender,False,data analytics
994,Myra,Bidewell,908477,2020-08-07,Genderfluid,False,data analytics
998,Jerald,Penella,862555,2020-09-08,Female,False,engineering
999,Aubrie,Hunt,549364,2020-03-29,Polygender,False,data analytics

### Filetring a Series

In [37]:
emp'gender'.count()

SyntaxError: invalid syntax (207314865.py, line 1)

### Brute Force Using the `|` Operator

### Filtering with the AND operator: `&`

### Filtering with the OR operator: `|`

### Extracting with the `&` and `|` Operator Combined